.container1 {
	border-radius: 50px;
	-webkit-box-shadow: inset 6px -6px 15px 1px rgba(0, 0, 0, 0.6);
	box-shadow: inset 6px -6px 15px 1px rgba(0, 0, 0, 0.6);
}

.jumbotron {
	-webkit-box-shadow: 7px 7px 15px 3px rgba(0, 0, 0, 0.65);
	-moz-box-shadow: 7px 7px 15px 3px rgba(0, 0, 0, 0.65);
	box-shadow: 7px 7px 15px 3px rgba(0, 0, 0, 0.65);
	border: 1px solid #000000;
	margin-bottom: 50px;
}

.jumbotron>h1 {
	color: #fff;
	text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
	font-size: 30px;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.card-header, .card-footer {
	background-color: rgba(220, 53, 69, 1) !important;
}

.card-header {
	border-bottom: 1px solid #000000;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.card-footer {
	border-top: 1px solid #000000;
}

.card {
	border: 1px solid #000000;
	-webkit-box-shadow: 10px 10px 13px -6px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 13px -6px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 13px -6px rgba(0, 0, 0, 0.75);
}


.card-white  .card-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
   border: 1px solid #dddddd;
}
.card-white  .card-footer {
  background-color: #fff;
  border-color: #ddd;
}
.card-white .h5 {
    font-size:14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.card-white .time {
    font-size:12px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.post .post-heading {
  height: 50px;
  padding: 20px 15px;
}
.avatar {
  width: 40px;
  height: 40px;
  display: block;
  margin-right: 15px;
}
.post .post-heading .meta .title {
  margin-bottom: 0;
}
.post .post-heading .meta .title a {
  color: black;
}
.post .post-heading .meta .title a:hover {
  color: #aaaaaa;
}
.post .post-heading .meta .time {
  margin-top: 8px;
  color: #999;
}
.post .post-image .image {
  width: 100%;
  height: auto;
}
.post .post-description {
  padding: 15px;
}
.post .post-description p {
  font-size: 14px;
}
.post .post-description .stats {
  margin-top: 20px;
}
.post .post-description .stats .stat-item {
  display: inline-block;
  margin-right: 15px;
}
.post .post-description .stats .stat-item .icon {
  margin-right: 8px;
}
.post .post-footer {
  border-top: 1px solid #ddd;
  padding: 15px;
}
.post .post-footer .input-group-addon a {
  color: #454545;
}
.post .post-footer .comments-list {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}
.post .post-footer .comments-list .comment {
  display: block;
  width: 100%;
  margin: 20px 0;
}
.post .post-footer .comments-list .comment .avatar {
  width: 35px;
  height: 35px;
}
.post .post-footer .comments-list .comment .comment-heading {
  display: block;
  width: 100%;
}
.post .post-footer .comments-list .comment .comment-heading .user {
  font-size: 14px;
  font-weight: bold;
  display: inline;
  margin-top: 0;
  margin-right: 10px;
}
.post .post-footer .comments-list .comment .comment-heading .time {
  font-size: 12px;
  color: #aaa;
  margin-top: 0;
  display: inline;
}
.post .post-footer .comments-list .comment .comment-body {
  margin-left: 50px;
}
.post .post-footer .comments-list .comment > .comments-list {
  margin-left: 50px;
}